<h1>Property Linking Demo</h1>
<p>Upload a property linking file to begin viewing property information.</p>

<div class="panel panel-info">
    <div class="panel-heading">Upload a file</div>
    <div class="panel-body">
        <input class="" type="file" name="fileUpload" accept=".txt"  (change)="fileChanged($event)"/>
    </div>
</div>


<div class="panel panel-default" *ngIf="fileUploadResult">
    <div class="panel-heading">Dependencies</div>
    <div class="panel-body">
        <div class="row" *ngFor="let programCount of fileUploadResult.programCounts"><label class="col-sm-2">{{programCount.key}}:</label>&nbsp;<span  class="col-sm-1">{{programCount.value}}</span></div> 
    </div>
</div>

<div class="panel panel-default" *ngIf="fileUploadResult">
    <div class="panel-heading">Property Linking</div>
    <div class="panel-body">
        <div class="row" *ngFor="let segment of fileUploadResult.fileSegments"><label class="col-sm-12">{{segment.headerSegment?.text}}</label></div>
    </div>
</div>